{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<body>
<div class="text-center">
    <h1>Подтверждение почты</h1>
</div>
<div class="row">
    <div class="col-12 text-center">
        <form method="post">
            {% csrf_token %}
            <label for="otp_code">Введите код подтверждения отправленный на e-mail:</label>
            <input type="text" id="otp_code" name="otp_code" required>
            <input type="hidden" name="user_id" value="{{ user.pk }}">
            <div class="col-3 mx-auto p-3">
                <button class="btn btn-success" type="submit">Подтвердить</button>
                <a href="{% url 'homepage:homepage' %}" class="btn btn-primary">Назад</a>
            </div>
        </form>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</div>
</body>
{% endblock %}